# Virtual environments
venv/
__pycache__/
*.pyc

# OS/system files
.DS_Store
Thumbs.db

# IDE/project folders
.idea/
.vscode/

# Logs & cache
*.log
.cache/

# Allure reports
allure-results/
allure-report/
